
#areaMetadata
{
	-fx-font-weight : normal;
	-fx-text-fill : floralwhite;
}

#areaMetadata .content
{
	-fx-background-color : #9f47c5;
	-fx-border-color: #6f00a9;
}

#hboxProgres
{
	-fx-spacing:0px;
	-fx-alignment:top-center;
}

#lblFichier
{
	-fx-text-fill: #ff0083;
}

.progress-bar {
	-fx-indeterminate-bar-length: 60;
	-fx-indeterminate-bar-escape: true;
	-fx-indeterminate-bar-flip: true;
	-fx-indeterminate-bar-animation-time: 2;

}
.progress-bar  .bar {
	-fx-background-color: #5fff68;
	-fx-background-insets: 3 3 4 3;
	-fx-background-radius: 2;
	-fx-padding: 0.75em;
	-fx-base: #5fff68;
}

.progress-bar > .track {
	-fx-control-inner-background: #e6b4ee;
	-fx-background-insets: 0, 0 0 1 0, 1 1 2 1;
	-fx-background-radius: 4, 3, 2; /* 10, 9, 8 */
	-fx-border-color: #6f00a9;
}
.slider{
	-fx-conntrol-inner-background : #9f47c5;
}
.button{
	-fx-border-color: #6f00a9;
}